{% extends "blog/base.html" %}
<!-- Title -->
{% block title %} {{ post.title}} {% endblock %}

<!-- Content -->
{% block content %}
<h1>{{ post.title }}</h1>
<p class="date">Published {{ post.publish }} by {{ post.author }}</p>

{{ post.body | linebreaks }}
<!-- Post share -->
<p>
  <a href="{% url 'blog:post_share' post.id %}"> Share this post </a>
</p>
<br />
<!-- Comment   -->
{% with comments.count as total_comments %}
  <h2>
      {{ total_comments }} comment{{ total_comments1|pluralize }}
  </h2>
{% endwith %}

<!-- Comment List -->
{% for comment in comments %}
<div class="comment">
  <p class="info">
    Comment {{ forloop.counter }} by {{ comment.name }} 
    {{ comment.created }}
  </p>
  {{ comment.body | linebreaks }}
</div>
{% empty %}
  <p>No comments yet.</p>
{% endfor %}

<!-- Comment Form -->
{% if new_comment %}
  <h2>Your comment has been added</h2>
{% else %}
  <h2>Add a new comment</h2>
  <form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }} 
    <p><input type="submit" value="Add comment" /></p>
  </form>
{% endif %}

<!-- End block content -->
{% endblock %}
