{% extends "blog/base.html" %}
<!-- Title -->
{% block title %} Share a Post {% endblock %}
<!-- Content -->
{% block content %}
<!-- If sent -->
{% if sent %}
<h1>E-mail successfully sent</h1>
<p>"{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.</p>

{% else %}
<!-- If not sent -->
<h1>Share "{{ post.title }}" by e-mail</h1>
<form method="post">
  {% csrf_token %}
  <!-- Form fields -->
  {% for field in form %}
  <div>{{ field.label_tag }} {{ field}} {{ field.errors }}</div>
  {% endfor %}
  <input type="submit" value="Send e-mail" />
</form>
{% endif %}
<!-- end content -->
{% endblock %}
